<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Contactos Proveedores Nacionales{% endblock %}</title>       
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
         
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
       
        <link rel="stylesheet" type="text/css" href="{{ asset('css/coopidrogas.css') }}">        
        
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 

        <script src="{{ asset('js/sweet-alert.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('css/sweet-alert.css') }}">  

        <script type='text/javascript'>//<![CDATA[
        $(window).load(function(){    
            $(document).ready(function () {
                $("nav").find("li").on("click", "a", function () {
                    $('.navbar-collapse.in').collapse('hide');
                });
            });
        });//]]> 
        </script>
        
    </head>
    <body>
        {% block header %}
            {% if app.user and is_granted('ROLE_USER') %}
                <nav id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                            </button>
                        <div>
                        <div style="position: relative; top:-5px; float: left;"><a class="navbar-brand" href="#"><img src="{{ asset('images/logo-coopidrogas-peq.png') }}"></a></div>
                        <div style="position: relative; float: left;"><a class="navbar-brand" href="#"><strong>Usuario:</strong> {{ app.user.razonSocial }}</a></div>
                        <div style="clear: both;"></div>
                        </div>

                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-left">
                                <li class="active"><a href="{{ path('usuario_inicio') }}"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-users" aria-hidden="true"></i> Contactos por Departamento <i class="fa fa-reply" aria-hidden="true"></i>
                                    <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                      {% for area in areas %}
                                      <li><a href="{{ path('contactosusr_departamento', { 'page': 1, 'd': area.id }) }}">{{ area.nombre }}</a></li>
                                      {% endfor %} 
                                    </ul>
                                  </li>
                                <li><a href="{{ path('contactosusr_index', { 'page': 1 }) }}"><i class="fa fa-users" aria-hidden="true"></i> Todos los Contactos</a></li>
                                <li><a href="{{ path('proveedoresusr_index', { 'page': 1 }) }}"><i class="fa fa-users" aria-hidden="true"></i> Proveedores</a></li>
                                <li><a href="{{ path('usuariousr_edit', { 'id': app.user.id }) }}"><i class="fa fa-lock" aria-hidden="true"></i> Cambiar datos Usuario</i></a></li>
                                <li><a href="{{ path('usuario_inicio_logoutbridge') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Salir</a></li> 
                            </ul>
                        </div>
                    </div>
                </nav>
            {% elseif app.user and is_granted('ROLE_ADMINISTRATOR') %}
                <nav id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                            </button>
                        <div>
                        <div style="position: relative; top:-5px; float: left;"><a class="navbar-brand" href="#"><img src="{{ asset('images/logo-coopidrogas-peq.png') }}"></a></div>
                        <div style="position: relative; float: left;"><a class="navbar-brand" href="#"><strong>Usuario:</strong> {{ app.user.nombre }}</a></div>
                        <div style="clear: both;"></div>
                        </div>

                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-left">
                                <li class="active"><a href="{{ path('administrador_inicio') }}"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a></li>
                                <li><a href="{{ path('administrador_index') }}"><i class="fa fa-user-plus" aria-hidden="true"></i> Administradores</a></li>
                                <li><a href="{{ path('usuario_index') }}"><i class="fa fa-user" aria-hidden="true"></i> Usuarios del sistema</a></li>
                                <li><a href="{{ path('proveedores_index', { 'page': 1 }) }}"><i class="fa fa-users" aria-hidden="true"></i> Proveedores</a></li>

                                <li><a href="{{ path('contactos_index', { 'page': 1 }) }}"><i class="fa fa-users" aria-hidden="true"></i> Contactos</a></li> 

                               <li><a href="#"><i class="fa fa-database" aria-hidden="true"></i> Registro</a></li>                              

                                <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-lock" aria-hidden="true"></i> Cambiar contraseña</i></a></li>
                                <li><a href="{{ path('administrador_inicio_logoutbridge') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Salir</a></li> 
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endif %} 

        {% endblock %}
        {% if app.user and is_granted('ROLE_USER') %}  

        <div class="container-fluid">           
                <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4">&nbsp;</div>
                <div class="container col-xs-10 col-sm-8 col-md-6 col-lg-4" style="margin: 0px auto;">
                    {{ include('messages.html.twig') }}                   
                </div>
                </div>           
        </div>
        {% elseif app.user and is_granted('ROLE_ADMINISTRATOR') %} 
        <div class="container-fluid">           
                <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4">&nbsp;</div>
                <div class="container col-xs-10 col-sm-8 col-md-6 col-lg-4" style="margin: 0px auto;">
                    {{ include('messages.html.twig') }}                   
                </div>
                </div>           
        </div>
        {% else %} 
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div class="container-fluid">           
                <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4">&nbsp;</div>
                <div class="container col-xs-10 col-sm-8 col-md-6 col-lg-4" style="margin: 0px auto;">
                    {{ include('messages.html.twig') }}                   
                </div>
                </div>           
        </div>
        {% endif %} 
        <div class="container-fluid">
            {% block body %}
                <div class="row">
                    <div id="main" class="col-sm-12">                       
                        {% block main %}                        
                        
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
        {% block footer %}
        <!-- <footer class="footer">
            <div class="container">
              <p class="text-muted"><img src="{{ asset('images/logo-coopidrogas-peq-min.png') }}"> / {{ "now"|date("Y") }}</p>
            </div>
        </footer> -->
        {% endblock %}
    </body>
</html>
